node-version=20.17.0
engine-strict=true
publish-branch=main
strict-peer-dependencies=false
merge-git-branch-lockfiles-patter[]=main
merge-git-branch-lockfiles-pattern[]=develop
merge-git-branch-lockfiles-pattern[]=release*
